@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
main{
    columns: 2;
    padding-left:45px;
    padding-right: 20px;
    margin-bottom: 15px;
    overflow-wrap: break-word;
    }
    h1 {
        position: absolute;
        color: orange;
        font-weight: bold;
        font-size: large;
        border-left: thin solid rgb(108, 105, 105);
        margin-left: 45px;
        padding-left: 10px;
        border-right: thin solid rgb(108, 105, 105);
        padding-right: 10px;
        font-family: "Angkor", serif;
        font-weight: 400;
        font-style: normal;}
    img{
        max-width: 100%;
      height: auto;
        margin-top: 45px;
        position: relative;
    }
    article > h2:first-of-type{
        font-family: "Angkor", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3.15vw;
        padding-bottom: 5px;
        margin-bottom: 0px;
    }
    article > p:first-of-type{
        text-indent: 10px;
        margin-top: 0px;
        padding-top: 0px;
        font-size: medium;
    } strong{
        color: orange;
    }
 
    .Layout1 > p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-right: 10px;
    font-size: medium;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    }
     .Layout1{
        width: auto;
        padding-right: 0px;
        display: flex;
        float: left;
        flex-wrap: nowrap;
        position: inherit;
    }
    p{
        font-size: medium;
    }
    .Layout2{
        border: 2px hidden rgb(75, 70, 74);
        border-radius: 0.5em;
        padding: 20px 10px;
        width: 85%;
        margin-bottom: 0px;
        float: right;
        padding-left: 0px;
        padding-top: 45px;
        display: flex;
    flex-wrap: wrap;
    }
    .Layout2 > h2{
        font-size: medium;
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    .Layout2 > p{
        font-size: medium;
        display: flex;
        flex-wrap: wrap;    
        margin-top: 0px;
        margin-bottom: 0px;
    }

    footer{
        margin-left: 45px;
    }
    em {
        font-style: normal;
        font-weight: bold;
    }
    small{
        font-weight: bold; 
    }
    time{
        font-weight: lighter;
    }
