@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
main{
    display: row;
columns: 2;
padding-left:45px;
padding-right: 45px;
margin-bottom: 15px;
overflow-wrap: break-word;

}
img{
    max-width: 60%;
  height: auto;
    margin-top: 65px;
    position: relative;
}
h1 {
    
    position: absolute;
    color: orange;
    font-style: bold;
    font-size: large;
    border-left: thin solid rgb(108, 105, 105);
    margin-left: 45px;
    padding-left: 10px;
    border-right: thin solid rgb(108, 105, 105);
    padding-right: 10px;
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
}

article > h2:first-child{

    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
    
}
article > p:first-of-type{
    text-indent: 10px;
}
strong{
    color: orange;
}
article > h2:not(:first-of-type){
    color: blue;
    font-size: medium;
    margin-bottom: 0px;
    margin-top: 0px;
    font-style: bold;
}
article > p:not(:first-of-type){
    color: blueviolet;
    margin-top: 0px;
    margin-bottom: 0px;
}
.Layout1 {
    background-color: blueviolet;
    color: cadetblue;
}

footer{
    margin-left: 45px;
}

em {
    font-style: normal;
    font-weight: bold;
}

small{
    font-weight: bold; 
}

time{
    font-weight: lighter;
}
