@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
main{
    display: grid;
column-count: 2;
padding-left:45px;
padding-right: 45px;
margin-bottom: 15px;
overflow-wrap: break-word;

}
img{
    max-width: 50%;
  height: auto;
    margin-top: 65px;
    position: relative;
}
h1 {
    
    position: absolute;
    color: orange;
    font-style: bold;
    font-size: large;
    border-left: thin solid rgb(108, 105, 105);
    margin-left: 45px;
    padding-left: 10px;
    border-right: thin solid rgb(108, 105, 105);
    padding-right: 10px;
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
}

article > h2:first-of-type {
   
    color: rgb(43, 42, 42);
    font-size: 2.3vw; /* Using viewport width as a relative unit */
    font-family: "Angkor", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 0px;
}
p.FirstP{
    color: green;
    grid-row: 1;
}
p.SecondP{
  color: blueviolet; 
}
strong{
    color: orange;
   
}
article > p:first-of-type {
    color: black;
    margin-top: 0px;
    font-size: larger;
    text-indent: 10px;
}
p{
    font-size: large;
    margin-top: 0px;
}
article > h2:not(:first-child){
    color: blue;
    font-size: large;
    font-style: bold;
    align-items: start;
}
#first, p{
    color: brown;
}

footer {
    position: fixed; /* or absolute, depending on your layout */
    bottom: 0;
    margin-left: 45px;
    width: 100%;
    font-size: large;
    align-items: baseline;
}

em {
    font-style: normal;
    font-weight: bold;
}

small{
    font-weight: bold; 
}

time{
    font-weight: lighter;
}
